.Maindivhome{
    /* background-color: white;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    margin: 50px 25px 50px 25px; */
    display: flex;
    width: 100%;
    padding: 35px;
}
.myCard{
    margin-top: 10px;
    margin-left: 30px;
    height: 300px;
    padding: 40px;
   align-items: center;
   text-align: center;
   
}
.myCardImg{
    height: 100px;
    width: 100px;
}
.vv:hover{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%)
}
